.contextMenu {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    width: auto;
    font-size: var(--fs-small);
    position: fixed;
    display: none;
}
.contextMenu li {
    padding: 10px 10px;
    transition: 0.5s;
}
.contextMenu li:hover {
    cursor: pointer;
    background-color: var(--color-bg-secondary);
}
