.left-column {
    background-color: var(--color-bg-secondary);
    height: 100vh;
}

.side-bar-addlist {
    display: grid;
    grid-template-columns: 20% auto 20%;
    position: fixed;
    bottom: 0;
    color: var(--color-text-primary);
}

.group-item {
    display: flex;
    align-items: center;
    padding: 12px 24px;
}
