body {
    font-family: var(--ff-primary);
    color: var(--color-text-primary);
}

.container {
    width: auto;
    height: auto;
}

.main-page {
    display: flex;
}

h1 {
    font-size: var(--fs-large);
}
